.search-bar__form {
    width: 300px;
    display: flex;
    position: relative;
}

.search-bar__input {
    flex-grow: 1;
    padding: 8px;
    font-size: 1em;
    background: #2e2f33;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    caret-color: orange;
    z-index: 2;
    &:focus {
        border: 1px solid orange;
    }
}